.imageWrapper {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.image,
.homeimage {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.homeWelcomeTicker {
    position: absolute;
    left: 0;
    bottom: 35px;
    width: 100%;
    height: auto;
}

.tickerWrapper {
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.homeWelcomeTicker span {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--cpdrkblue1);
}

.featureImageTitleWrapper {
    position: absolute;
    margin: 0;
    width: 75%;
    height: auto;
    left: 50%;
    bottom: 120px;
    padding: 25px;
    transform: translateX(-50%);
}

.featureImageTitleMinor,
.featureImageTitleMajor,
.featureImageTitleLocation {
    display: block;
    line-height: 1.2;
    width: 100%;
    height: auto;
    text-align: center;
    color: var(--cpdrkblue1);
    transition-duration: .5s;
}

.featureImageTitleMinor {
    margin: 0 0 6px;
    /* font-size: 40px; */
    font-size: calc(30px + (40 - 30) * ((100vw - 900px) / (1600 - 900)));
}

.featureImageTitleMajor {
    margin: 0 0 14px;
    font-family: IvyMode, 'serif';
    /* font-size: 74px; */
    font-size: calc(48px + (74 - 48) * ((100vw - 900px) / (1600 - 900)));
    text-transform: uppercase;
}

.featureImageTitleLocation {
    margin: 0;
    /* font-size: 24px; */
    font-size: calc(16px + (24 - 16) * ((100vw - 900px) / (1600 - 900)));
}
