.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1475px;
    height: auto;
    padding: 100px 25px 50px;
}

.formTitle {
    padding: 0 25px;
}

.flexWrapper {
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.formWrapper,
.formImageWrapper {
    position: relative;
    margin: 0;
    width: 66.666%;
    height: auto;
    padding: 0 25px;
}

.formWrapper {
    width: 66.666%;
    order: 1;
}

.formImageWrapper {
    width: 33.333%;
    order: 2;
}

.formImageWrapper figure {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
}

.formImageWrapper figure {
    left: 0;
    top: 0;
}

.cpform {
    position: relative;
    margin: 50px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.cpform input,
.cpform textarea {
    font-size: 18px;
    font-weight: normal;
    border: 1px solid var(--cpdrkblue1);
    background-color: transparent;
}

.cpform input {
    margin: 0 0 20px;
    width: calc(50% - 10px);
    line-height: 1;
    padding: 9px;
}

.cpform textarea {
    margin: 0;
    width: 100%;
    padding: 15px 9px;
    height: 175px;
    line-height: 1.5;
}

.cpform input::placeholder,
.cpform textarea::placeholder,
.cpform button {
    font-size: 14px;
    line-height: 1;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--cpdrkblue1);
}

.cpform input::placeholder,
.cpform textarea::placeholder {
    opacity: .7;
}

.cpform input:focus,
.cpform textarea:focus {
    outline: 2px solid var(--cplightblue1);
    border: none;
}

.cpform button {
    margin: 20px 0 0;
    padding: 9px 16px;
    cursor: pointer;
    border: 1px solid #9aabb8;
    background: -moz-linear-gradient(top,  rgba(41,75,126,0.2) 0%, rgba(41,137,216,0.1) 50%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(41,75,126,0.2) 0%,rgba(41,137,216,0.1) 50%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(41,75,126,0.2) 0%,rgba(41,137,216,0.1) 50%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33294b7e', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
    transition-duration: .5s;
}

.cpform button:hover {
    background-color: var(--cpdrkblue1);
    color: var(--cpoffwhite);
    border: 1px solid var(--cpdrkblue1);
    opacity: 1;
}