@font-face {
  font-family: 'BrotherReg';
  src: local('BrotherReg'),
      url('../assets/Brother1816-Regular.woff2') format('woff2'),
      url('../assets/Brother1816-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrotherBold';
  src: local('BrotherBold'),
      url('../assets/Brother1816-Medium.woff2') format('woff2'),
      url('../assets/Brother1816-Medium.woff') format('woff');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'IvyMode';
  src: local('IvyMode'),
      url('../assets/IvyMode-Regular.woff2') format('woff2'),
      url('../assets/IvyMode-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body,
textarea {
  padding: 0;
  margin: 0;
  font-family: BrotherReg, 'Helvetica Neue',
    sans-serif;
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  --cpturqoise1: #9bd0c5;
  --cpturqoise2: #7dc2c4;
  --cplightblue1: #448bab;
  --cplightblue2: #326993;
  --cpdrkblue1: #294b7e;
  --cpdrkblue2: #2e3469;
  --cpoffwhite: #f4f2ea;
  background-color: #f4f2ea;
}

html {
  color: var(--cpdrkblue1);
}

h1 {
  margin: 0 0 48px;
  font-family: IvyMode, 'serif';
  font-size: 60px;
  font-weight: normal;
  line-height: 1.2;
  color: var(--cpdrkblue1);
}

h2 {
  margin: 0;
  font-family: IvyMode, 'serif';
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
  color: var(--cpdrkblue1);
}

p {
  margin: 0 0 18px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: normal;
}

a {
  display: block;
  font-size: 16px;
  line-height: 1;
  padding: 0 18px;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: .3s;
  color: var(--cpdrkblue1);
}

a:hover,
a.active {
  color: white;
}
