.servicesList {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 1474px;
  height: auto;
  padding: 25px;
  list-style-type: none;
}

.servicesList li {
  position: relative;
  margin: 0;
  width: 50%;
  height: auto;
  padding: 12px;
}

.homeServiceLink {
  position: relative;
  display: block !important;
  margin: 0 !important;
  width: 100% !important;
  height: 0 !important;
  padding-bottom: 100% !important;
  text-decoration: none;
}

.homeServiceTitle {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  font-family: IvyMode, 'serif';
  font-size: 48px;
  font-weight: normal;
  line-height: 1.2;
  text-transform: none;
  color: var(--cpdrkblue1);
  width: 100%;
  height: auto;
  padding: 50px 25px;
}

.homeServiceImage {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .6;
}