.servicesList {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto 150px;
  width: 100%;
  max-width: 1474px;
  height: auto;
  padding: 25px;
  list-style-type: none;
}

.servicesList li {
  position: relative;
  margin: 0;
  width: 25%;
  height: auto;
}

.homeServiceLink {
  position: relative;
  display: block !important;
  margin: 0 !important;
  width: 100% !important;
  height: auto !important;
  /* padding-bottom: 100% !important; */
  text-decoration: none;
}

.homeServiceTitle {
  display: block;
  position: relative;
  font-family: IvyMode, 'serif';
  font-size: 33px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: none;
  color: var(--cpdrkblue1);
  width: 100%;
  height: auto;
  padding: 25px 0 0;
}

.homeServiceImage {
  position: relative;
  margin: 0;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  opacity: 1;
}