.wrapper {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 999;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1475px;
    height: auto;
    padding: 35px 25px 0;
}

.branding {
    position: relative;
    margin: 0;
    width: 300px;
    height: auto;
}

.branding:after {
    content: "";
    display: block;
    position: absolute;
    left: 306px;
    top: 80px;
    width: calc(100vw - 380px);
    max-width: calc(1412px - 315px);
    height: 1px;
    background-color: var(--cpdrkblue1);
}

.brandingLink {
    display: block;
    position: relative;
    margin: 0;
    width: 300px;
    height: auto;
    padding: 0;
    text-decoration: none;
}

.nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 25px 0 0;
}

.nav ul {
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

.nav ul li {
    position: relative;
    margin: 0;
    padding: 0;
}